{% extends "base_generic.html" %}

{% block content %}
  <h1>Мои заявки</h1>
  <p>фильтрация</p>
  <a href="{% url 'pleas_c'%}">Выполненые</a>
  <a href="{% url 'pleas_i'%}">Принятые в работу</a>
  <a href="{% url 'pleas'%}">Все</a>
  {% if plea_list %}
    <ul>
      {% for plea in plea_list %}
      <li>
        <hr>
        <p>Дата создания: {{ plea.creationDate }}</p>
        <p>Название: {{ plea.name }}</p>
        <p>Описание: {{ plea.description }}</p>
        <p>Категория: {{ plea.category }}</p>
        {% if plea.status == 'n' %}
        <p>Статус: Новая</p>
        {% elif plea.status == 'c' %}
        <p>Статус: Выполнено</p>
        {% else %}
        <p>Статус: принято в работу</p>
        {% endif %}
        <a href="{{ plea.get_absolute_url }}/delete/">Удалить заявку</a>
        <hr>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>У вас нет заявок</p>
  {% endif %}
{% endblock %}