{% extends "base_generic.html" %}

{% block content %}
{% if user.is_superuser %}
  <h1>Все заявки</h1>

  {% if plea_list %}
    <ul>
      {% for plea in plea_list %}
      {% if plea.adminUserName is Null%}
      <li>
        <hr>
        <p>Дата создания: {{ plea.creationDate }}</p>
        <p>Название: {{ plea.name }}</p>
        <p>Описание: {{ plea.description }}</p>
        <p>Категория: {{ plea.category }}</p>
        <a href="{{ plea.get_absolute_url }}/addmin/"">Назначить администратора</a><br>
        <hr>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p>Нет заявок</p>
  {% endif %}
{% else %}
<p>У вас нет доступа к этой страницы</p>
{% endif %}
{% endblock %}